<h1>All Posts</h1>

<%= link_to 'New', new_article_path %>

<section>

  <% @articles.each do |article| %>
    <article>
      <h2><%= article.title %></h2>
      <h3>Category: <%= article.category %></h3>
      <p><%= article.text %></p>
      <nav>
        <%= link_to 'Show', article_path(article) %>
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Delete', article_path(article),
            method: :delete,
            data: { confirm: 'Are you sure? This is permanent!'} %>
      </nav>
    </article>

  <% end %>

</section>
